.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.heading_title {
  margin-top: 1.025rem;
  text-align: center;
}
.menu ul li {
  color: darkcyan;
  margin-top: 1rem;
  font-size: 1.025em;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
}
.article_para {
  width: min(90%, 1000px);
  margin-inline: auto;
  color: darkgreen;
  text-align: justify;
  /* border: 1px solid salmon; */
}
